html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Helvetica Neue Regular';
    font-size: 12pt;
    color: #423f56;
    background: #f9f7fb;
}

body {
    opacity: 0;
}

form {
    padding: 0px;
    margin: 0px;
}

input.checkbox {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0 6px 1px 0px;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

label {
    display: inline-block;
    padding-left: 15px;
    text-indent: -15px;
}

ul {
    text-align: left;
    font-family: 'Helvetica Neue Light';
    font-size: 12pt;
    line-height: 30pt;
}

h2 {
    font-family: 'Helvetica Neue Light';
    font-size: 22pt;
    margin-top: 44px;
}

div.spacer-10 {
    height: 10px;
}

#container {
    text-align: center;
    margin: 0 auto;
    max-width: 748px;
    min-width: 540px;

}

#selector {
    margin: 20px auto;
    width: 200px;
}

#output_table {
    margin: 0 auto;
    text-align: left;
}

#output_table td {
    padding: 15px 45px 15px 0px;
    border-bottom: 1px solid #d4d2da;
}

#output_table tr td:last-child {
    padding-right: 0;
}

#output_table thead {
    font-family: 'Helvetica Neue Bold';
    font-size: 14pt;
}

#output_table tbody,
#output_table tbody tr td.with-video:last-child {
    color: #bcb9c2;
}

#output_table tbody tr td:last-child,
#output_table tbody tr.selected td:last-child,
#output_table thead tr td:last-child {
    color: #e5e3ea;
}

#output_table tbody tr.selected td,
#output_table tbody tr.selected td.with-video,
#output_table thead tr td.with-video:last-child {
    color: #423f56;
}

#output_table tbody tr:hover td {
    cursor: pointer;
    border-color: #423f56;
}

nav {
    display: inline-block;
    margin: 50px auto 30px auto;

    border: 1px solid #423f56;

    font-family: 'Helvetica Neue Medium';
    font-size: 14pt;
    border-radius: 8px;
}

nav a {
    float: left;
    display: inline-block;
    padding: 8px 32px;
    color: #423f56 !important;
    margin: 0;
    min-width: 120px;
    text-decoration: none !important;
    line-height: 1;
    background-color: transparent;

    -webkit-transition: background-color 0.25s;
    -moz-transition: background-color 0.25s;
    transition: background-color 0.25s;
}

nav a:first-child {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

nav a:last-child {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

nav.port .port,
nav.land .land {
    color: white !important;
    background-color: #423f56;
}

nav a.port {
    padding: 8px 14px 8px 36px;
    background-position: 38px 6px;
    background-repeat: no-repeat;
    background-image: url("../img/Portrait_icon_dark.png");
}

nav.port a.port {

    background-image: url("../img/Portrait_icon_white.png");
}

nav a.land {
    padding: 8px 8px 8px 42px;
    background-position: 22px 6px;
    background-repeat: no-repeat;
    background-image: url("../img/Landscape_icon_dark.png");
}

nav.land a.land {
    background-image: url("../img/Landscape_icon_white.png");
}